<div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
  <iframe class="embed-responsive-item" src="<%= pdfjs.full_path(file: "#{ set_pdf_path(format: :pdf, template: 'one') }")%>"></iframe>
</div>
<div>
  <%= render 'button' %>
</div>
