<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        PDF简历
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-secondary">
            pdf文件已经上传
            <%= link_to "查看", pdf_resume_path(current_user.pdf_resume), class: "text-secondary" %>|
            <%= link_to "编辑", edit_pdf_resume_path(current_user.pdf_resume), class: "text-secondary" %>|
            <%= link_to "删除", current_user.pdf_resume, method: :delete, data: { confirm: "确定删除?"}, class: "text-secondary" %> 
          </li>
        </ul>
      </div>
    </div>
</div>
