<% provide(:title, t('pdf_resume_uploaded')) %>
<div class="row">
  <%= render 'shared/basic_bar' %>
  <% if current_user.pdf_resume.id? %>
    <%= render 'pdf_resumes' %>
  <% else %>
    <%= render 'pdf_resume_new' %>
  <% end %>
</div>
